@import './font.scss';
html, body, ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}
html, body, #root, .container {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: "Microsoft YaHei", "Times New Roman", Georgia, Serif;
}
.container {
	min-width: 1160px;
	min-height: 640px;
	overflow: hidden;
	background: -webkit-radial-gradient(top, #0098A6, #000);
	background: -moz-radial-gradient(top, #0098A6, #000);
}
a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
i, em {
	display: block;
	font-style: normal;
}
.show {
	display: block!important;
}

/* -----------    页面   ------------ */
.maintain {
	$main-width: 920px;
	$min-width: 600px;
	overflow: hidden;
	width: $main-width;
	left: 50%;
	top: 0;
	bottom: 80px;
	margin-left: -$main-width / 2;
	position: absolute;
	text-align: center;
	perspective: 700;
	-moz-perspective: 700; 
	-webkit-perspective: 700; 
	.wrap {
		top: 50%;
		left: 50%;
		$deg: 45deg;
		opacity: 0.6;
		cursor: pointer;
		width: $min-width;
		height: $min-width;
		position: absolute;
		box-sizing: border-box;
		border: solid 1px transparent;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .5s, box-shadow ease-in-out .5s;
		margin-left: -$min-width / 2;
		margin-top: -$min-width / 2 - 100px;
		transform: rotateX($deg);
		&:hover {
			border-color: #66afe9;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            i.icon-microphone {
				opacity: 1;
			}
		}
		@keyframes floatIn {
			from {
				opacity: 0;
				transform: rotateX($deg) translateZ(-10px);
			}
			to {
				opacity: 0.6;
				transform: rotateX($deg) translateZ(0);
			}
		}
		&.float-in {
			animation: floatIn 0.6s;
		}
		img {
			width: 100%;
			display: block;
			cursor: pointer;
		}
		i.icon-microphone {
			bottom: 20%;
			left: 50%;
			font-size: 50px;
			margin-left: -15px;
			opacity: 0;
			cursor: pointer;
			position: absolute;
			transition: opacity 1s;
		}
	}
	canvas {
		$width: 1040px;
		position: absolute;
		width: $width;
		height: 100px;
		left: 50%;
		margin-left: -$width / 2;
		&.origin-canvas {
			bottom: 130px;
			opacity: 0;
			transition: opacity 1s;
			&.fadeIn {
				opacity: 0.5;
			}
		}
		&.canvas {
			bottom: 10px;
		}
	}
}

/**/
.media-index, .media-speaker {
	width: 100%;
	height: 100%;
	min-height: 600px;
	position: absolute;
	transition: 0.6s all;
	.bottom-bar {
		width: 100%;
	  	left: 0;
	  	right: 0;
	  	bottom: 0;
	  	z-index: 2;
	  	position: absolute;
	  	font-size: 14px;
	  	background: rgba(30, 30, 30, 0.4);
	}
}
.media-index {
	$height: 620px;
	&.slide-up {
		transform: translateY(-100%);
	}
	&.slide-down {
		transform: translateY(0);
	}
	.aside {
		height: $height;
		padding: 10px;
		z-index: 1;
		top: 0;
		color: #aaa;
		position: absolute;
		transition: 0.6s all;
		box-sizing: border-box;
		background: rgba(0, 0, 0, 0);
	}
}

/**/
.media-speaker {
	// height: 620px;
	&.slide-up {
		transform: translateY(0);
	}
	&.slide-down {
		transform: translateY(100%);
	}
}

/**/
.drag-component {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	input {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}