.list-component {
	$size: 260px;
	width: $size;
	right: 100%;
	// 左侧呼出列表按钮
	a.btn-list {	
		$width: 25px;
		width: $width;
		height: 5px;
		display: block;
		padding: 15px 10px;
		i.icon-list {
			$btn-color: #aaa;
			width: $width;
			border-radius: 5px;
			height: 5px;
			background: $btn-color;
			position: absolute;
			&:before, &:after {
				content: "";
				position: absolute;
				width: $width;
				height: 5px;
				border-radius: 5px;
				background: $btn-color;
			}
			&:before {
				top: -7px;
			}
			&:after {
				top: 7px;
			}
		}
	}
	ul > li.active {
		border: solid 2px rgba(26, 198, 217, 0.8);
	}
	ul > li > a {
		padding: 5px 10px;
		border: solid 2px rgba(26, 198, 217, 0);
		border-radius: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		&.active, &:hover { 
			color: #fff;
		}
	}
	.empty {
		p {
			margin: 15px 10px;
		}
	}
	&.slide-in {
		transform: translateX($size);
	}
	&.slide-out {
		transform: translateX(0);
	}
}