.list-component {
	$size: 260px;
	width: $size;
	right: 100%;
	// 左侧呼出列表按钮
	a.btn-list {	
		$width: 25px;
		width: $width;
		height: 5px;
		display: block;
		padding: 15px 10px;
		i.icon-list {
			$btn-color: #aaa;
			width: $width;
			border-radius: 5px;
			height: 5px;
			background: $btn-color;
			position: absolute;
			&:before, &:after {
				content: "";
				position: absolute;
				width: $width;
				height: 5px;
				border-radius: 5px;
				background: $btn-color;
			}
			&:before {
				top: -7px;
			}
			&:after {
				top: 7px;
			}
		}
	}
	.file-control {
		position: relative;
		margin: 0 10px;
		input {
			opacity: 0;
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;

		}
	}
	.empty {
		p {
			margin: 15px 10px;
		}
	}
	ul > li {
		border: solid 2px rgba(26, 198, 217, 0);
		&.active {
			border: solid 2px rgba(26, 198, 217, 0.8);
		}
		> a {
			padding: 5px 10px;
			border-radius: 4px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;
			&.active, &:hover { 
				color: #fff;
			}
		}
	}
	&.slide-in {
		transform: translateX($size);
	}
	&.slide-out {
		transform: translateX(0);
	}
}