
$dir: '../../images/player';
.audio-player {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: fixed;
  font-size: 14px;
  background: rgba(30, 30, 30, 0.4);
  a, i, em {
    float: left;
    display: block;
    font-style: normal;
    text-decoration: none;
  }
  .audio-player-core {
    $pro-color: #111;
    $rdy-color: $pro-color + #222;
    $cur-color: #008d9a;

    width: 780px;
    height: 50px;
    margin: 0 auto;
    .play-btns {
      width: 120px;
      height: 100%;
      margin-left: 5px;
      float: left;
      > a {
        width: 28px;
        height: 28px;
        background: url($dir + '/playbar.png');
        &.prv {
          margin: 11px 0;
          background-position: 0 -129px;
        }
        &.play-ply, &.play-pas {
          width: 36px;
          height: 36px;
          margin: 7px;
        }
        &.play-ply {
          background-position: 0 -204px;
        }
        &.play-pas {
          background-position: 0 -165px;
        }
        &.nxt {
          margin: 11px 0;
          background-position: -80px -129px;
        }
        &.prv:hover { background-position: -30px -129px; }
        &.play-ply:hover { background-position: -40px -204px; }
        &.play-pas:hover { background-position: -40px -165px; }
        &.nxt:hover { background-position: -110px -129px;}
      }
    }
    .play-album {
      width: 30px;
      height: 30px;
      float: left;
      margin: 8px 10px;
      padding: 2px;
      background: url($dir + '/playbar.png');
      background-position: 0 -80px;
      > a > img {
        width: 30px;
      }
    }
    .play-progress {
      width: 510px;
      height: 100%;
      padding: 0 5px;
      float: left;
      > .pro-title {
        width: 100%;
        height: 25px;
        line-height: 25px;
        > a {
          color: #ddd;
          float: left;
          margin: 0 5px;
          &.singer {
            color: #999;
            padding: 0 10px;
          }
          &:hover { text-decoration: underline; }
        }
      }
      > .pro-bar { /* ---歌曲进度框 ---*/
        width: 100%;
        height: 15px;
        padding: 5px 0;
        > .barbg {      /*总进度条*/
          $radius: 20px;
          width: 80%;
          height: 9px;
          float: left;
          position: relative;
          background: $pro-color;
          border-radius: 4px;
          > .rdy {      /*灰色缓冲条*/
            width: 0;
            height: 100%;
            border-radius: $radius;
            background: $rdy-color;
          }
          > .cur {      /*当前条*/
            width: 100%;
            height: 100%;
            border-radius: $radius;
            position: absolute;
            top: 0;
            > .cur-inner {
              width: 0;
              height: 100%;
              position: absolute;
              background: $cur-color;
              border-radius: $radius;
              > span.btn-cur {
                width: 6px;
                height: 6px;
                top: -4px;
                right: -13px;
                cursor: pointer;
                position: absolute;
                background: $cur-color;
                border-radius: 50%;
                border: solid 5px #fff;
                > i {
                  width: 12px;
                  height: 12px;
                  position: absolute;
                  left: 5px;
                  top: 5px;
                  background: url($dir + '/loading.gif');
                }
              }
            }
          }
        }
        > span.clock {
          width: 20%;
          height: 100%;
          display: block;
          float: right;
          color: #888;
          text-align: center;
          line-height: 8px;
          font-size: 12px;
          > i {
            display: inline;
            float: none;
            color: #ccc;
          }
          > em {
            float: none;
            display: inline;
          }
        }
      }
    }
    .play-ctrl {
      width: 55px;
      height: 100%;
      padding: 0 10px;
      float: left;
      position: relative;
      > .vlm-bar {
        display: none;
        position: absolute;
        top: -110px;
        left: 8px;
        width: 32px;
        height: 90px;
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.6);
        > .barbg {
          $radius: 4px;
          width: 4px;
          height: 88px;
          left: 15px;
          position: absolute;
          background: $pro-color;
          border-radius: $radius;
          top: 11px;
          > .cur {
            width: 4px;
            height: 0;
            left: 0;
            bottom: 0;
            border-radius: $radius;
            position: absolute;
            background: $cur-color;
            > i.btn-cur {
              width: 5px;
              height: 5px;
              top: -12px;
              left: -5px;
              cursor: pointer;
              position: absolute;
              border: solid 4px #fff;
              border-radius: 50%;
              background: $cur-color;
            }
          }
        }
      }
      > a {
        width: 24px;
        height: 24px;
        margin: 13px 1px;
        float: left;
        background: url($dir + '/playbar.png');
        &.icon-vol { background-position: -2px -248px; }
        &.icon-vol:hover { background-position: -31px -248px; }

        &.icon-shuffle { background-position: -66px -248px; }
        &.icon-shuffle:hover { background-position: -93px -248px; }

        &.icon-cycle { background-position: -3px -344px; }
        &.icon-cycle:hover { background-position: -33px -344px; }

        &.icon-single { background-position: -66px -344px; }
        &.icon-single:hover { background-position: -93px -344px; }
      }
      > .lop-hint {
        top: -35px;
        left: -10px;
        width: 82px;
        height: 40px;
        color: #eee;
        display: none;
        position: absolute;
        line-height: 35px;
        text-align: center;
        background: url($dir + '/playbar.png');
        background-position: 0 -457px;
      }
    }
  }
}
