.speaker {
	&-core {
		$height: 50px;
		margin: 0 auto;
		width: 250px;
		height: $height;
		color: #fff;
		position: relative;
		a {
			display: block;
			text-align: center;
			line-height: $height;
		}
		.btn-restart {
			float: left;
		}
		.btn-speaker {
			$size: 70px;
			width: $size;
			height: $size;
			display: block;
			font-size: 35px;
			border-radius: 50%;
			line-height: $size + 10px;
			position: absolute;
			background: #0C2326;
			left: 50%;
			top: -50%;
			margin-left: -$size / 2;
			// margin-top: -$size;
		}
		.btn-over {
			float: right;
		}
	}
}